/** ====== Footer styles ====== **/


footer {
    background: #29363E;
    padding: 0px;
  }    

  .social-icons a:hover {
    color: #FF8625;
    transform: rotate(360deg);
  
  }  
   .social-icons {
    margin-top: 10px;
  }
  .social-icons a {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    transition: all .3s ease;
  }


     #bottom-bar {
        background: #273138;
        color: #4C5357;
        text-transform: uppercase;
        font-weight: normal;
        padding: 10px 0px;
      }
      #bottom-bar p {
        margin-bottom: 0;
      }
      #bottom-bar p a {
        color: #fff;
        transition: all .3s ease;
      }
      #bottom-bar p a:hover {
        color: #FF8625;
      
      }
      