

<!-- footer -->
<footer>
    <section id="bottom-bar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
                        <div class="social-icons">
                                <a href="index.html#"><i class="fa fa-facebook"></i></a>
                                <a href="index.html#"><i class="fa fa-twitter"></i></a>
                                <a href="index.html#"><i class="fa fa-google-plus"></i></a>
                                <a href="index.html#"><i class="fa fa-linkedin"></i></a>
                                <a href="index.html#"><i class="fa fa-pinterest"></i></a>
                            </div>
					<p>&copy; 2015 <a href="index.html">EVENT TIME</a> ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
    </section> 
    </footer>
    
    <!-- /footer -->