<section class="case_study_area">
  <div class="container">
      <div class="case_study_inner">
          <div class="case_study_details">
              <div class="case_study_img our_about_image">
                  <img src="http://localhost:3000{{events.eventImage}}" alt="">
                  <div class="customer_status">
                      <div class="table-responsive"> 
                          <table class="table"> 
                              <tbody> 
                                  <tr> 
                                      <td>Organiser :</td> 
                                      <td>Michale John</td> 
                                  </tr>
                                   <tr> 
                                        <td>Category : </td> 
                                        <td>Investment</td> 
                                   </tr>
                                  <tr> 
                                      <td>Date :</td> 
                                      <td>21 March, 2017</td> 
                                  </tr>
                                   <tr> 
                                        <td>Place : </td> 
                                        <td>Delhi</td> 
                                   </tr>
                                   
                                   <tr> 
                                        <td>Tags :</td> 
                                        <td>finance, investment </td> 
                                   </tr>
                              </tbody> 
                          </table> 
                      </div>
                  </div>
              </div>
              <div class="our_about_left_content">
                  <div class="section_title">
                      <h2>Description of project</h2>
                  </div>
                  <h3>Lorem Ipsum is  simply  text of the stry stext of the stry simply dummy text of the printing </h3>
                  <p>{{events.description}}</p>
                  
              </div>
          </div>
          
      </div>
  </div>
</section>